body{
    background-color: #222021;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

nav {
    position: fixed; 
    top: 0; 
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px 0; 
  }

ul {
  list-style-type: none; 
  display: flex; 
}

li {
  margin: 0 10px; 
}

a {
  text-decoration: none; 
  color: #ffcbcb; 
  font-weight: bold; 
}

a:hover {
  color: #d87b7b;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 35px; 
  padding: 10px; 
  justify-content: center; 
}

.button {
  font-family: 'Courier New', Courier, monospace;
  margin: 5px; 
  padding: 15px;
  text-align: center;
  border: none;
  cursor: pointer;
  flex-basis: 150px;
  height: 75px;
  border-radius: 15px;
  font-size: 20px;
}

[data-sign="aries"]{
    background-color: #c2e7ed;
}

[data-sign="taurus"]{
    background-color: #cbaacb;
}

[data-sign="gemini"]{ 
    background-color: #ffffb5;
}

[data-sign="cancer"]{
    background-color: #ffccb6;

}

[data-sign="leo"]{
    background-color: #f3b0c3;
}

[data-sign="virgo"]{
    background-color: #cce2bc;
}

[data-sign="libra"]{
    background-color: #FFdb81;  
}

[data-sign="scorpio"]{
    background-color: #f0bdfe;
}

[data-sign="sagittarius"]{
    background-color: #86addc;
}

[data-sign="capricorn"]{
    background-color: #96dbf2;
}

[data-sign="aquarius"]{
    background-color: #f782a1;
}

[data-sign="pisces"]{
    background-color: #b0e4c8;
}

.button:hover,
#aries:hover,
#taurus:hover,
#gemini:hover,
#cancer:hover,
#leo:hover,
#virgo:hover,
#libra:hover,
#scorpio:hover,
#sagittarius:hover,
#capricorn:hover,
#aquarius:hover,
#pisces:hover {
    background-color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}


form {
  max-width: 500px;
  padding: 48px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.control {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
}

input {
  font-size: 16px;
  margin-top: 8px;
  padding: 12px 8px;
  width: auto
}

input:focus {
  border-color: #10b981;
  outline-width: 0;
}

label {
  display: block;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #96dbf2;
  font-size: 25px;
  font-weight: bold;
  white-space: nowrap;
}

input[type="date"] {
  padding: 8px;
  width: 100%;
  box-sizing: border-box; 
}

button[type="submit"] {
  padding: 15px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

button[type="submit"]:hover {
  background-color: #7bcec7;
  color: #20372f;
}

.errors {
  color: #dc2626;
  list-style: none;
  margin: -30px 0 0 0;
  padding: 0;
}

.errors li {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: red;
}

#modalText {
  color:red;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: -60px;
}

.modal {
  display: none; 
  position: fixed; 
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999; 
}

.modal-content {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: white;
  padding: 10px; 
  border-radius: 10px; 
  width: 400px;
  height: 375px;
  align-items: center; 
  justify-content: center; 
}

#modalImage {
  max-width: 100%; 
  max-height: 100%; 
  width: auto; 
  height: auto;
}

button.close {
  background: none; 
  color: black; 
  border: none; 
  padding: 5px 5px; 
  cursor: pointer; 
  border-radius: 3px; 
  font-size: 18px;
}

button.close:hover {
  background-color: #cc0000; 
  color: white;
}