body{
    background-color: #222021;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

nav {
    position: fixed; 
    top: 0; 
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px 0; 
  }

ul {
  list-style-type: none; 
  display: flex; 
}

li {
  margin: 0 10px; 
}

a {
  text-decoration: none; 
  color: #ffcbcb; 
  font-weight: bold; 
}


a:hover {
  color: #d87b7b;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
  padding: 0px; 
  justify-content: center; 
}

.button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 5px; 
  padding: 10px;
  text-align: center;
  border: none;
  cursor: pointer;
  flex-basis: 150px;
  width: 75px;
  height: 75px;
  border-radius: 15px;
  font-size: 18px;
}




#aries{
    background-color: #c2e7ed;
}

#taurus{
    background-color: #cbaacb;
}

#gemini{ 
    background-color: #ffffb5;
}

#cancer{
    background-color: #ffccb6;

}

#leo{
    background-color: #f3b0c3;
}

#virgo{
    background-color: #cce2bc;
}

#libra{
    background-color: #FFdb81;  
}

#scorpio{
    background-color: #f0bdfe;
}

#sagittarius{
    background-color: #86addc;
}

#capricorn{
    background-color: #96dbf2;
}

#aquarius{
    background-color: #f782a1;
}

#pisces{
    background-color: #b0e4c8;
}

.button:hover,
#aries:hover,
#taurus:hover,
#gemini:hover,
#cancer:hover,
#leo:hover,
#virgo:hover,
#libra:hover,
#scorpio:hover,
#sagittarius:hover,
#capricorn:hover,
#aquarius:hover,
#pisces:hover {
    background-color: #ffffff;
    text-decoration: underline;
}


section {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

form {
  max-width: 31.25rem;
  padding: 3rem;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -75px;
}

.control {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
}

.control h2{
  color: #96dbf2;
}

form .control:first-child {
  margin-top: 0;
}

input {

  font-size: 1rem;
  margin-top: 0.5rem;
  outline: none;
  padding: 0.75rem 0.5rem;
  width: 100%;
}

input:focus {
  border-color: #10b981;
  outline-width: 0;
}


label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

input[type="date"] {
  padding: 8px;
  width: 100%;
  box-sizing: border-box; 
}

button[type="submit"] {
  padding: 15px 20px;
  background-color: #ffffff;
  color: #222021;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

button[type="submit"]:hover {
  background-color: #7bcec7;
  color: #354d45;
}

.errors {
  color: #dc2626;
  list-style: none;
  margin: 1.5rem 0 0 0;
  padding: 0;
}

.errors li {
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
  color: red;
}
